<!DOCTYPE html>

<html>

<head>
    <title>Photography in your own home</title>
    <link rel="icon" href="/img/camera.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="indexmainpic" src="/img/atHomePage/_DSC3784.jpg">
        <img class="indexmainpic" src="/img/atHomePage/_DSC3816.jpg">
        <img class="indexmainpic" src="/img/atHomePage/_DSC3824.jpg">
        <img class="indexmainpic" src="/img/atHomePage/_DSC3855.jpg">
    </div>

    {{>footer}}
</body>

</html>