<!DOCTYPE html>

<html>

<head>
    <title>Contact</title>
    <link rel="icon" href="/img/camera.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{contacttext}}</p>
    </div>
    {{>footer}}
</body>

</html>