<!DOCTYPE html>

<html>

<head>
    <title>Swirlacre Photography</title>
    <link rel="icon" href="/img/camera.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="indexmainpic" src="/img/landingPage/img963.jpg">
    </div>

    {{>footer}}
</body>

</html>