<!DOCTYPE html>

<html>

<head>
    <title>Swirlacre Photography</title>
    <link rel="icon" href="/img/camera.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="indexmainpic" src="/img/img963.jpg">
        <p id="copyright-text">© Andrew Barker 2021</p>
    </div>

    {{>footer}}
</body>

</html>