<!DOCTYPE html>

<html>

<head>
    <title>Pet Photography</title>
    <link rel="icon" href="/img/camera.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="indexmainpic" src="/img/petsPage/_DSC3471.jpg">
        <img class="indexmainpic" src="/img/petsPage/img265.jpg">
        <img class="indexmainpic" src="/img/petsPage/img480.jpg">
        <img class="indexmainpic" src="/img/petsPage/img687.jpg">
    </div>

    {{>footer}}
</body>

</html>