<!DOCTYPE html>

<html>

<head>
    <title>Wedding Photography</title>
    <link rel="icon" href="/img/camera.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="indexmainpic" src="/img/weddingsPage/DSC_0828.jpg">
        <img class="indexmainpic" src="/img/weddingsPage/DSC_0835.jpg">
        <img class="indexmainpic" src="/img/weddingsPage/DSC_0839.jpg">
        <img class="indexmainpic" src="/img/weddingsPage/DSC_0976.jpg">
    </div>

    {{>footer}}
</body>

</html>