

<header>
  <h1>{{title}}</h1>
  <a href="/">Home</a>
  <a href="/weddings">Weddings</a>
  <a href="/athome">At Home</a>
  <a href="/pets">Pets</a>
  <a href="/landscape">Landscape</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
</header>
